.cards{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #F4F4F4;
    margin-bottom: 40px;
}

.card__wrapp{
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}

.card__description{
    display: block;
    padding-left: 22px;
}

.card__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin-top: 22px;
}

.card__duration{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 13px;
    color: #A0A0A0;
}

.card__button{
    width: 14px;
    height: 12px;
    margin-top: 30px;
    background: transparent url('../../images/button_type_dislike.svg') center no-repeat;
    border: none;
    cursor: pointer;
}
.card__button:hover{
    opacity: 0.7;
}
.card__button_like{
    background: transparent url('../../images/button_type_like.svg') center no-repeat;
}
.card__button_delete{
    background: transparent url('../../images/button_type_delete.svg') center no-repeat;
}
.card__poster{
    width: 220px;
    min-height: 120px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
}

@media screen and (max-width: 770px) {

}

@media screen and (max-width: 600px) {
    .card{
        flex-direction: column-reverse;
    }
    .card__wrapp{
        flex-direction: row;
        justify-content: space-between;
        padding-left: 12px;
    }
    .card__poster{
        padding: 0;
        width: 100%;
        min-height: 120px;
    }
}