.portfolio{
    display: flex;
    background-color: #DDDEE3;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 50px;
    background-color:  #FAFAFA;
    border-bottom: 1px dashed red;
}

.portfolio__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #A0A0A0;
}
.portfolio__links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.portfolio__site{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 19px 0 20px 0;
}
.portfolio__text{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    padding-right: 10px;
    color: #000000;
}
.porfolio__link{
    width: 29px;
}
.porfolio__link:hover{
    cursor: pointer;
    opacity: 70%;
}

@media screen and (max-width: 700px){
    .portfolio{
        padding-top: 65px;
        padding-bottom: 40px;
    }
    .portfolio__text{
        font-size: 28px;
    }
    .porfolio__link{
        width: 27px;
    }
}

@media screen and (max-width: 400px){
    .portfolio{
        padding-top: 45px;
        padding-bottom: 20px;
    }
    .portfolio__text{
        font-size: 18px;
    }
    .porfolio__link{
        width: 18px;
    }
}