.page__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 396px;
    padding: 0;
    padding-top: 5vh;
}

.page__form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4vh;
}

.page__button{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    color: #FFFFFF;
    background-color: #3456F3;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15vh;
}
.page__button:hover{
    opacity: 0.8;
}
.page__button_disabled{
    background-color: #F8F8F8;
    color: #C2C2C2;
}
.form__landing{
    margin: auto;
}
@media screen and (max-width: 425px) {
    .page__content{
        margin-left: 15px;
        margin-right:  15px;
    }
}